.visual {
  width: 100%;
  height: 480px;
  overflow: hidden;
  position: relative;
}

.slider-image::before {
  content: '';
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0, 0.6);
  position: absolute;
  z-index: 99;
}

.slider-content {
  z-index: 999;
  color: $white;
  position: absolute;
  width: 80%;
  top: 26%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  .txt {
    width: 100%;
    font-family: $font-main-serif;
    @include text-style(16, $white);
    line-height: 30px;
    margin-bottom: 30px;
  }

  .line {
    display: block;
    margin: auto;
    height: 60px;
    width: 0.5px;
    background-color: #fff;
    margin-bottom: 30px;
  }

  h2 {
    font-family: $font-main-serif;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15%;
  }
}

.slider-image {
  img {
    height: auto;
  }
}

.slider-list {
  .slick-dots {
    display: none;
  }
}

@include responsive(T) {
  .visual {
    width: 100%;
    height: 800px;
    overflow: hidden;
    position: relative;
  }

  .slider-image::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.6);
    position: absolute;
    z-index: 99;
  }

  .slider-content {
    z-index: 999;
    color: $white;
    position: absolute;
    width: 80%;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .txt {
      width: 100%;
      font-family: $font-main-serif;
      font-size: 20px;
      line-height: 40px;
      letter-spacing: -0.02em;
      margin-bottom: 30px;
    }

    .line {
      display: block;
      margin: auto;
      height: 60px;
      width: 0.5px;
      background-color: #fff;
      margin-bottom: 30px;
    }

    h2 {
      font-family: $font-main-serif;
      font-size: 50px;
      font-weight: 400;
      letter-spacing: -0.02em;
    }
  }

  .slider-image {
    img {
      height: auto;
    }
  }

  .slider-list {
    .slick-dots {
      font-family: $font-main-sans;
      position: absolute;
      bottom: 30%;
      left: 50%;
      margin-left: -330px;
      width: 700px;
      text-align: center;
      z-index: 99999;

      & > li {
        display: block;
        float: left;
        position: relative;
        width: 145px;
        height: 100px;
        margin: 0 10px;
        opacity: 0.5s;

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background: rgba(255, 255, 255, 4);
          opacity: 0.5;
        }

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 4px;
          background: rgba(255, 255, 255, 1);
          opacity: 0;
        }
      }

      .pager-tit {
        margin-top: 25px;
        color: $white;
        font-size: 15px;
        text-align: left;
        letter-spacing: -1px;
        text-align: center;
      }

      .slick-active {
        opacity: 1;

        &::after {
          background-color: rgba(255, 255, 255, 0);
          box-sizing: border-box;
          opacity: 1;
        }

        &::before {
          width: 100%;
          background-color: $brown;
          box-sizing: border-box;
          opacity: 1;
          transition: width 5s ease-in-out;
        }
      }
    }
  }
}

@include responsive(D) {
  .visual {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
  }

  .slider-image::before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.6);
    position: absolute;
    z-index: 99;
  }

  .slider-content {
    z-index: 999;
    color: $white;
    position: absolute;
    width: 50%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .txt {
      width: 100%;
      font-family: $font-main-serif;
      @include text-style(24, $white);
      line-height: 46px;
      margin-bottom: 30px;
    }

    .line {
      display: block;
      margin: auto;
      height: 60px;
      width: 0.5px;
      background-color: #fff;
      margin-bottom: 30px;
    }

    h2 {
      font-family: $font-main-serif;
      font-size: 56px;
      font-weight: 400;
      letter-spacing: -0.02em;
      margin-bottom: 15%;
    }
  }

  .slider-image {
    img {
      width: 100%;
    }
  }

  .slider-list {
    .slick-dots {
      font-family: $font-main-sans;
      position: absolute;
      bottom: 15%;
      left: 50%;
      margin-left: -350px;
      width: 700px;
      text-align: center;
      z-index: 99999;

      & > li {
        display: block;
        float: left;
        position: relative;
        width: 145px;
        height: 100px;
        margin: 0 15px;
        opacity: 0.5s;

        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 4px;
          background: rgba(255, 255, 255, 4);
          opacity: 0.5;
        }

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 0;
          height: 4px;
          background: rgba(255, 255, 255, 1);
          opacity: 0;
        }
      }

      .pager-tit {
        margin-top: 25px;
        color: $white;
        font-size: 15px;
        text-align: left;
        letter-spacing: -1px;
        text-align: center;
      }

      .slick-active {
        opacity: 1;

        &::after {
          background-color: rgba(255, 255, 255, 0);
          box-sizing: border-box;
          opacity: 1;
        }

        &::before {
          width: 100%;
          background-color: $brown;
          box-sizing: border-box;
          opacity: 1;
          transition: width 5s ease-in-out;
        }
      }
    }
  }
}
