header {
  position: relative;
  z-index: 9999;

  .gnb {
    background-color: rgb(33, 33, 33, 0.98);
    width: 100%;
    position: fixed;

    &-left {
      .logo {
        padding-top: 20px;

        img {
          width: 80%;
        }
      }
    }

    &-right {
      padding-top: 20px;
    }

    &-wrapper {
      height: 80px;
      display: flex;
      justify-content: space-between;
    }

    .gnb-open-button.is-active {
      display: none;
    }

    .gnb-close-button.is-active {
      display: none;
    }
  }
}

@include responsive(T) {
  header {
    position: relative;
    z-index: 9999;

    .gnb {
      background-color: rgb(33, 33, 33, 0.98);
      width: 100%;
      position: fixed;

      &-left {
        .logo {
          padding-top: 20px;

          img {
            width: 90%;
          }
        }
      }

      &-right {
        padding-top: 25px;
      }

      &-wrapper {
        height: 85px;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

@include responsive(D) {
  header {
    z-index: 9999;

    .gnb {
      background-color: rgb(33, 33, 33, 0.9);
      width: 100%;
      position: fixed;

      &-left {
        .logo {
          padding-top: 15px;

          img {
            width: 80%;
          }
        }
      }

      &-right {
        padding-top: 20px;
      }

      &-nav-list {
        display: flex;
        font-weight: 500;
      }

      &-nav-item {
        position: relative;
        width: 130px;
        @include text-style(20, $white);
        transition: all 0.3s ease-in-out;
      }

      &-wrapper {
        height: 75px;
        display: flex;
        justify-content: space-between;
        transition: all 0.4s ease-in-out;

        &.on {
          height: 360px;
          transition: all 0.5s;
          background: transparent;
        }

        .gnb-nav-list > li > a {
          display: block;
          text-align: center;
        }

        .gnb-nav-list > li > .inner {
          position: absolute;
          width: 100%;
          left: 0;
          top: 50px;
          display: none;
        }

        .gnb-nav-list > li > .inner.on {
          display: block;
        }

        .gnb-nav-list > li > .inner li a {
          display: block;
          width: 100%;
          height: 40px;
          text-align: center;
          line-height: 3;
          color: #dddddd;
          @include text-style(18);
        }

        .gnb-nav-list > li > .inner li a:hover,
        .gnb-nav-list > li > .inner li a:focus {
          transition: all 0.3s ease-in-out;
          color: $brown;
        }
      }
    }
  }
}
